/*Remember to convert to SASS*/

@media all and (max-width: 479px) {

}

/*Average phone size 480px in width*/
@media all and (min-width: 480px){
    #container {
        height: 199px;
        margin: auto;
        position: absolute;
        width: 420px;
        top: 0px; 
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
        background-color: transparent;
        border-radius: 15px;
    }
    #bio {
        padding: 2px 2px 2px 2px;
        color: white;
        float: left;
        border-radius: 15px;
        position: absolute;
        font-family: sans-serif;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    
    .table {
        background-color: gray;
        height: 100%; 
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto; 
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }

    .tr {
        margin-top: 0px;
        width: 100%;
        height: 30%;
    }
    
    .td {
        height: 100%;
        width: 100%;
        float: left;    
    }

    #one.td {
        background-color: purple;
    }

    #two.td {
        background-color: blue;
    }

    #three.td {
        background-color: green;
    }
}



/*This is intended for tablets*/
@media all and (min-width: 768px) {
    #container {
        display: inline-block;
        height: 210px;
        margin: auto;
        position: absolute;
        width: 610px;
        top: 0px; 
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
        border-radius: 15px;
        background-color: transparent;
    }
     
    #bio {
        padding: 2px 2px 2px 2px;
        color: white;
        float: left;
        border-radius: 15px;
        position: absolute;
        font-family: sans-serif;
        width: 66%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .hexagon {
        float: right;
        transition: all 0.5s;
        display: inline-block;
        left: 0px;
        width: 33%;
        height: 100%;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: 55% 25%;
        background-image: url('../images/profile.jpg');
        visibility: visible;
        border-radius: 15px;
    }
    
    .hexagon:hover {
         background-image: url('../images/profile2.jpg');
    }

    .hexagon-in1 {
        display: hidden;
    }

    .hexagon-in2 {
         display: hidden;
    }
    
    .table {
         /*background-color: cyan;*/
         position: relative;
         height: 100%;
         margin-top: 0px;
         margin-left: auto;
         margin-right: auto;
         width: 700px;
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
         overflow: hidden;
         z-index: 9999;
    }

    .tr {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        height: 89%;
    }
    
    .td {
        display: inline;
        height: 100%;
        width: 32%;
        float: left;    
    }

    #one.td {
        background-color: purple;
        width: 31%;
        margin-right: 1%;
        margin-left: 1%;
    }

    #two.td {
        background-color: blue;
        width: 32%;
        margin-right: 1%;
        margin-left: 1%;
    }

    #three.td {
        background-color: green;
        width: 31%;
        margin-right: 1%;
        margin-left: 1%;
    }

    #first.tr #one.td {
        width: 31%;
        display: inline;
    }
}

/*Browser size*/
@media all and (min-width: 1366px) {
    #container {
        display: inline-block;
        height: 199px;
        margin: auto;
        position: absolute;
        width: 900px;
        top: 0px; 
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
        background-color: transparent;
        border-radius: 15px;
    }
    
    #bio {
        padding: 2px 2px 2px 2px;
        color: white;
        border-radius: 15px;
        position: absolute;
        font-family: sans-serif;
        position: absolute;
        right: 0px;
        width: 65%;
        /*height: 166px;
        width: 499px;*/
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .hexagon {
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        -webkit-transform: rotate(120deg);
           -moz-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
             -o-transform: rotate(120deg);
                transform: rotate(120deg);
        cursor: pointer;
    }

    .hexagon-in1 {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(-60deg);
           -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
             -o-transform: rotate(-60deg);
                transform: rotate(-60deg);
    }

    .hexagon-in2 {
        transition: all 0.5s;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 50% auto;
        background-position: 55% 25%;
        background-image: url('../images/profile.jpg');
        visibility: visible;
        -webkit-transform: rotate(-60deg); /*Chrome*/
           -moz-transform: rotate(-60deg); /*Firefox*/
            -ms-transform: rotate(-60deg);
             -o-transform: rotate(-60deg);
                transform: rotate(-60deg);
    }

    .hexagon-in2:hover {
        background-image: url('../images/profile2.jpg');
    }

    .hexagon1 {
        width: 600px;
        height: 200px;
        margin: auto 0% auto -180px;
    }
 
    .table {
        background-color: gray;
        height: 100%;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto; 
        width: 1000px;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }

    .tr {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        height: 86%;
    }
    
    .td {
        display: inline;
        height: 100%;
        width: 32%;
        float: left;    
    }

    #one.td {
        background-color: purple;
        width: 31%;
        margin-right: 1%;
        margin-left: 1%;
    }

    #two.td {
        background-color: blue;
        width: 32%;
        margin-left: 1%;
        margin-right: 1%;
    }

    #three.td {
        background-color: green;
        width: 31%;
        margin-right: 1%;
        margin-left: 1%;
    }

    #first.tr #one.td {
        display: inline;
    }
}

p {
    text-align: center;
}

.skills {
    height: 300px;
}

#page {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
#header {
    position: relative;
    background-image: url('../images/Background.jpg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.overlay {
    background-image: url('../images/overlay.png');
    width: 100%;
    height: 100%;
}

.title{ 
    font-size: 30px;
    font-family: sans-serif;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 1;
}

.section {
    background-image: url('../images/outlets.png');
}

.projects {
    color: white;
    border-color: blue;
}

.resume {
    color: white;
    left: 50%;
    text-align: center;
}

.text {
    font-size: 30px;
    left: 50%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

input {
    border-radius: 5px;
    font-size: 20px;
}
